.btnResponsive{
    width: 50px;
    height: 50px;
    /*border: 2px solid rgb(52, 139, 56);*/
    border-radius: 5px;
    margin-right:15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    display: none;
}
.contHijo{
        width: 35px;
        height: 4px;
        background:rgb(253, 253, 253);
        transition: 0.5s ease-in-out;
}
.contHijo::before,
.contHijo::after{
        content:'';
        position: absolute;
        width: 35px;
        height: 4px;
        background: rgb(23, 136, 145);
        
}
.contHijo::before{
    transform: translateY(-10px);

}
.contHijo::after{
    transform: translateY(10px);

}
/*ANIMATION*/
.btnResponsive.open .contHijo{
    transform:translateX(-20px);
}
.btnResponsive.open .contHijo::before{
    transform: rotate(45deg) translate(35px, -35px);
}
.btnResponsive.open .contHijo::after{
    transform: rotate(45deg) translate(35px, 35px);
}
   