

.CONTENEDOR{
    width: 100%;
    max-width: 1440px;
    //padding: 10px 0px;
    background-image: url(../source/logo.png);
    background-size: 100% 100%;
    background-attachment: fixed;
    margin: auto;
    overflow: hidden;
    display: grid;
    //gap: 1em;
    overflow: hidden;
    grid-template-columns:repeat(1,1fr);
    grid-template-rows:auto;
    grid-template-areas: "MENU"
                         "SLADER"      
                         "SECTION1"       
                         "SECTION2"
                         "FORM"
                         "CAMPO_REDES"
                         "FOOTER";
    
    .MENU{
        height: 80px;
        //padding: 5px;
        //background: indianred;
        grid-area: MENU;
    }
    .SLADER{
        //padding: 20px 0px;
        //background:brown;
        grid-area: SLADER;
    }
    .SECTION1{   /*ABOUT AS*/
        //padding: 30px 0px;
        //background: indianred;
        grid-area: SECTION1;
        
    }
    .SECTION2{    /*MIS SERVICIOS*/
        //padding:10px 0px;
        //background:rgb(16, 165, 28) ; 
        grid-area: SECTION2;
    }

    .FORM{
        //padding:10px 0px;
        //background:indianred ;
        grid-area: FORM;
    }
    .CAMPO_REDES{
        //padding: 10px 0px;
        //background: indianred;
        grid-area:CAMPO_REDES ;
    }
    .FOOTER{
        //padding: 10px 0px;
        //background: indianred;
        grid-area: FOOTER;
    }
}