/*@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');*/


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    //font-family: 'Bitter', serif;   //900    400
    //font-family: 'Indie Flower', cursive;   //400

}

html{
    scroll-behavior:smooth;
}



body{
    scroll-behavior:unset;
}

body::-webkit-scrollbar{
    width: 15px;
    
}
body::-webkit-scrollbar-thumb{
    background: rgb(32, 32, 32);
    border-radius: 0px;
    height: 100px;
}
body::-webkit-scrollbar-thumb:hover{
    background: #00eeff;
    height: 150px;
    
}




@import "variables";
@import "grid";
@import "redes";
@import "menu";
@import "slader";
@import "about";
@import "services";
@import "form";
@import "preloader";
@import "footer";
@import "enviado";